#keret{
    text-align: center;
    background-color: lightgray;
    display :flex ;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

#tartalom{
    z-index:1;
    background-color: white;
    width: 800px;
    margin: 10px;
    margin-left: 10px;
    align-self: center;
    text-align: left;

}
#cikkcim{
    padding: 0;
    

}